.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px;
    align-content: center;
    align-items: center;
}

.no-dish {
    margin-top: 100px;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;

}

@media (min-width: 768px) {
    .wrapper {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}