.layout {
    display: flex;
    min-height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    max-width: 100%;
    height: 40%;
}

.content {
    border-left: 1px solid var(--separator-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .layout {
        display: flex;
        min-height: 100vh;
        min-width: 94vw;
        justify-content: center;
        align-items: center;
    }

    .content {
        border-left: none;
        flex: 0;
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .layout {
        max-height: 100vh;
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .content {
        margin-top: 50px;
        border-left: none;
        flex: 0;
        margin-left: 40px;
    }

    .logo img {
        max-width: 60%;
        height: 20%;
    }
}