.head {
    display: flex;
    justify-content: space-between;
}

.menu-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu-button {
    background-color: transparent;
    border: none;
}

.menu-button:hover {
    cursor: pointer;
    box-shadow: 18.21428680419922px 18.21428680419922px 36.42857360839844px 0px rgba(194, 119, 22, 0.25);
}

@media (max-width: 1024px) {
    .head {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .menu {
        width: 70vw;
    }
}

@media (max-width: 768px) {
    .head {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .menu {
        width: 100vw;

    }



}